input {
  border: none;
  box-shadow: inset 1px 1px 3px #000;
}

input:focus {
  outline: none;
}

.clock {
  position: relative;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.name-form {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.name-form,
.chat-room {
  margin: 0 auto;
  position: relative;
  width: 500px;
  text-align: center;
}

.name-form input {
  padding: 5px;
  height: 30px;
  width: 200px;
}

.chat-room {
  opacity: 1;
  height: 500px;
  border: 2px solid black;
}

.chat-room.ng-hide,
.chat-room.ng-hide:not(.ng-hide-animate) {
  display: block !important;
  opacity: 0;
}

.chat-room.ng-hide-remove {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}

.user-list,
.chat-messages {
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
  opacity: 1;
}

.chat-message-box,
.user-list-box {
  position: absolute;
  text-align: left;
}

.input-holder {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
}

.input-holder input {
  height: 30px;
  width: 490px;
  padding: 0 5px;
}

.chat-box-scroller {
  width: 395px;
  height: 470px;
  position: absolute;
  overflow: scroll;
}


.chat-message-box {
  width: 395px;
  max-height:470px;
  position: relative;
  bottom: 0;
}

.user-list-box {
  left: 395px;
  border-left: 2px solid black;
  height: 470px;
  width: 103px;
}

.user {
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-form.ng-hide,
.chat-messages.ng-enter,
.user-list.ng-enter {
  opacity: 0; 
}

.user-list.ng-enter.ng-enter-active {
  opacity: 0;
}

.user-list.ng-leave {
  opacity: 1;
}

.user-list.ng-leave.ng-leave-active {
  opacity: 0;
}